<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scripts Menu Widget</title>
    <link rel="stylesheet" type="text/css" href="/static/scriptmenu/css/style.css">
    <!-- jQuery and jQuery UI -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/scriptmenu/js/main.js"></script>
    <script src="/static/scriptmenu/js/color_me.js"></script>
    <script src="/static/scriptmenu/js/script_card_content.js"></script>	
    <style>
        #draggable {
            display: none; /* Hide the widget by default */
        }
    </style>
</head>
<body>
    <div id="draggable" class="ui-widget-content" data-url="{% url 'list_scripts' %}">
        <div class="window-header ui-widget-header">
            <div class="title-container">
                <img src="/static/scriptmenu/img/script-text-play.svg" alt="Script Icon" class="script-icon">
                <span class="window-title">Scripts Menu</span>
            </div>
            <div class="window-controls">
                <button class="maximize-btn">□</button>
                <button class="close-btn">×</button>
            </div>
        </div>
        <div class="tabs" id="tabContainer">
            <input type="text" id="searchBar" placeholder="Search scripts..." onkeyup="searchScripts()">
            <!-- Tabs will be dynamically inserted here -->
        </div>
        <div id="tabContent">
            <!-- Tab content will be dynamically inserted here -->
        </div>
    </div>
</body>
</html>